<div class="mb-sm">

  <%= question.body%>

</div>
<div class="text-sm">




  <div class="text-right question_footer">
    <%= l(question.created_at, format: :short) %>
    <%= button_to fa_icon('pencil'), edit_question_path(question), method: :get, title: "Redact question", class: "button_del" %>
    <%= button_to fa_icon("trash-o"), question_path(question), method: :delete, title: "Delete question", class: "button_del" %>
    <%= button_to fa_icon('home'), questions_path, method: :get, title: "Go home page", class: "button_del" %>
  </div>

</div>
