<div class="container-main">

  <h2 class="title">Join & Ask!</h2>

  <% if @user.errors.any?  %>
    <div class="mt">
      <% @user.errors.full_messages.each do |message| %>
        <p class="mb text-red"><%= message %></p>
      <% end %>
    </div>
  <%end %>



  <div class="mt" >
    <%= form_with model: @user, data: {turbo: false} do |form|%>
      <p><%= form.label :name, "Your name" %></p>
      <p><%= form.text_field :name , class: "form-textfield" %></p>

      <p class="mt"><%= form.label :nickname, "Your @nickname" %></p>
      <p><%= form.text_field :nickname , class: "form-textfield" %></p>

      <p class="mt"><%= form.label :email, "Email" %></p>
      <p><%= form.text_field :email , class: "form-textfield", placeholder: "example@askme.com" %></p>

      <p class="mt"><%= form.label :password, "Password" %></p>
      <p><%= form.password_field :password , class: "form-textfield"%></p>

      <p class="mt"><%= form.label :password_confirmation, "Password" %></p>
      <p><%= form.password_field :password_confirmation , class: "form-textfield"%></p>

    <p class="mt-lg"><%= form.submit "Register!", class: "button button-main" %></p>

    <% end %>

  </div>
</div>